.hero {
    background-image: linear-gradient($hero-bg-gradient-color, $hero-bg-gradient-color), url('../images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;
    padding: 118px 0;

    @media  screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) 
        {
            background-image: linear-gradient($hero-bg-gradient-color, $hero-bg-gradient-color), url('../images/2x/hero-bg_2x.jpg');
        
        }
    
}

.hero-title {
    @include set_text_style(26px, 900, 1.61, 0.06em);

    color: $hero-title-color;
    text-transform: uppercase;
    
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $breakpoint-desktop){ 
        @include set_text_style(44px, 900, 1.36, 0.06em);
    }

}

.hero-button {
    @include set_text_style(16px, 700, 1.9, 0.06em);
    
    color: $hero-button-color;
    background-color: $accent-color;

    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px $hero-button-shadow-color;
}
