.advantages {
    background-color: $primary-bg-color;
    padding-top: 94px;
}

.list-advantages{
    @extend %list;
    @include set_flex();

    & > .item:not(:last-child) {
        margin-right: 30px;
    }
}

.icon-container-advantages{
    @include set_flex($justify-content: center, $align-items: center);
    background-color: $advantages-icon-bg-color;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.icon-advantages{
    width: 70px;
    height: 70px;
}

.advantages-title{
    @extend %title;
    @include set_text_style(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages-text {
    @include set_text_style(14px, 400, 1.71, 0.03em);

    margin-top: 0;
    margin-bottom: 0;
}
