// .team  * {
//     outline: 2px solid teal;
// }

.team {
    background-color: $second-bg-color;
    padding: 60px 0;

    @media screen and (min-width: $breakpoint-tablet){ 
        padding: 94px 0;
    }
}

.list-team{
    @extend %list;
    padding: 0px 15px;

    @media screen and (min-width: $breakpoint-tablet){ 
        @include set_flex($flex-wrap: wrap);
    }
    
}

.list-team > .item {
    background-color: $primary-bg-color;
    width: 100%;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px  rgba(0, 0, 0, 0.14), 0 2px 1px  rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;

    @media screen and (max-width: $breakpoint-tablet - 1){ 
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1){ 
        width: calc((100% - 30px)/2);
       
        &:not(:nth-last-of-type(-n + 2)) {
            margin-bottom: 30px;
        }

        &:not(:nth-of-type(2n)) {
            margin-right: 30px;
       }
    }

    @media screen and (min-width: $breakpoint-desktop){ 
        width: calc((100% - 3*30px)/4);
        
        &:not(:last-child()) {
            margin-right: 30px;
        }
    }
       
}

.member-image {
    width: 100%;
}

.team-title {
    @extend %title; 
    @include set_text_style(36px, 700, 1.17, 0.03em);
   
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: $breakpoint-tablet){ 
        margin-bottom: 50px;
    }
}


.member-container{
    padding: 30px 32px;
}

.member-title {
    @extend %title; 
    @include set_text_style(16px, 500, 1.19, 0.03em);

    text-align: center;
    margin-bottom: 10px;
}

.member-description {
    @include set_text_style(16px, 300, 1.19, 0.03em);
  
    text-align: center;  
    margin-top: 0;
    margin-bottom: 16px;
}

.icon-list{
    @extend %list; 
    @include set_flex($justify-content: space-around);

    width: 106px;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-tablet){ 
        width: 206px;
    }
}

.icon-list a{
    @extend %link; 
    @include set_flex($justify-content: space-around, $align-items: center);

    width: 44px;
    height: 44px; 

    color: $border-svg-color;
    border-radius: 50%;
   
    transition: color $animation-time $cubic-time-function, background-color $animation-time $cubic-time-function;

    @include set_hover_and_focus($color: $primary-white-color, $background-color: $accent-color);
}

.icon-list .icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}