.footer {
    background-color: $footer-bg-color;
    padding: 60px 0;
}

.footer .container {
    text-align: center;

    @media screen and (min-width: $breakpoint-desktop){ 
        text-align: left;
    }
}

.footer .flex-wrap-container{
    @media screen and (min-width: $breakpoint-tablet){ 
        @include set_flex($flex-wrap: wrap, $justify-content: space-around);

    }

    @media screen and (min-width: $breakpoint-desktop){ 
        @include set_flex($align-items: baseline, $justify-content: space-around);

    }
   
}


//  Address container

.address-container{

    @media screen and (max-width: $breakpoint-tablet - 1){ 
       margin-bottom: 60px;
    }
}

.logo-footer {
    color: $logo-footer-color;

    display: inline-block;
    margin-bottom: 20px;
}

.address {
    color: $primary-white-color;
    @include set_text_style(14px, 500, 1.71, 0.03em);
    
    font-style: normal;
}

.location{
    display: inline-block;
    margin-bottom: 9px;
}

.email{
    @extend %link;
    @include set_hover_and_focus();

    color: $footer-link-color;

    margin-bottom: 9px;

    transition: color $animation-time $cubic-time-function;

}

.phone-number{
    @extend %link;
    @include set_hover_and_focus();

    color: $footer-link-color;

    transition: color $animation-time $cubic-time-function;
}

//  Link container

.link-container{

    @media screen and (max-width: $breakpoint-tablet - 1){ 
       margin-bottom: 60px;
    }

}


.join {
    display: inline-block;
    color: $primary-white-color;
    @include set_text_style(14px, 700, 1.14, 0.03em);

    margin-bottom: 20px;
}


.social-link-list{
    @extend %list;
    @include set_flex($justify-content: space-between);

    width: 206px;
    margin: 0 auto;

    & > .item:not(:last-child()){
        margin-right: 10px;
    }
    
}

 .social-link{
    @extend %link;
    @include set_hover_and_focus($color: $social-icon-color, $background-color: $accent-color);

    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 12px;

    color: $social-icon-color;
    background-color: $background-icon-color;

    border-radius: 50%;

    transition: background-color $animation-time $cubic-time-function;
}

.social-link .icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}

// Subscribe form

.subscribe-form {

    

    @media screen and (max-width: $breakpoint-tablet - 1){ 
        padding: 0px 15px;
        
     }


    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1){ 
        
        margin-top: 60px;
     }

}

.subscribe-form label {
    display: block;
    color: $primary-white-color;

    @include set_text_style(14px, 500, 1.14, 0.03em);

    margin-bottom: 20px;
}

.email-input {
    padding: 15px 0px 15px 16px;
    
    background-color: $footer-bg-color;
    color: $primary-white-color;

    border: 1px solid $footer-input-border-color;
    border-radius: 4px;

    &::placeholder{
        color: $footer-input-placeholder-color;
    }

    @media screen and (max-width: $breakpoint-tablet - 1){ 
        width: 100%;
        margin-bottom: 20px;
    }

    @media screen and (min-width: $breakpoint-tablet){ 
        width: 450px;
       
    }


    @media screen and (min-width: $breakpoint-desktop){ 
        width: 358px;
        margin-right: 12px;
    }
}


.submit-button {
    @include set_flex($display: inline-flex, $align-items: center);
    @include set_text_style(16px, 700, 1.87, 0.06em);

    color: $primary-white-color;
    background-color: $accent-color;

    padding: 10px 28px;
    
    box-shadow: 0px 4px 4px $footer-button-shadow-color;
    border: none;
    border-radius: 4px;

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1){ 
        @include set_flex($display: flex, $align-items: center);
        margin: 20px auto 0 auto;

    }

    @media screen and (min-width: $breakpoint-desktop ){ 
        @include set_flex($display: inline-flex, $align-items: center);

    }
}

.submit-button .icon {
    fill: currentColor;

    width: 24px;
    height: 24px;

    margin-left: 10px;
}

