body {
    color: $primary-text-color;

    font-family: Roboto, sans-serif;
    font-style: normal;
}

img {
    display: block;
}


.container {
    text-align: center;
    /* outline: 3px solid red; */
    
    @media screen and (min-width: $breakpoint-mobile){
        width: $breakpoint-mobile;
        margin: 0 auto;
        
    }

    @media screen and (min-width: $breakpoint-tablet){
        width: $breakpoint-tablet;
        text-align: left;
       
    }

    @media screen and (min-width: $breakpoint-desktop){
        width: $breakpoint-desktop;
    }

}

.flex-wrap-container{
   
    @media screen and (min-width: $breakpoint-tablet){
        @include set_flex();
    }
}
