body {
    color: $primary-text-color;

    font-family: Roboto, sans-serif;
    font-style: normal;

    
}

img {
    display: block;
    max-width: 100%;
}

.container {
    text-align: center;
    margin: 0 auto;
    // outline: 3px solid red; 
    
    @media screen and (min-width: $breakpoint-mobile){
        width: calc(#{$breakpoint-mobile} - 15px);            // -15px для вертикального скролл бара
        
        
    }

    @media screen and (min-width: $breakpoint-tablet){
        width: calc(#{$breakpoint-tablet} - 15px);
        // text-align: left;
       
    }

    @media screen and (min-width: $breakpoint-desktop){
        width: calc(#{$breakpoint-desktop} - 15px);
    }

}

.flex-wrap-container{
   
    @media screen and (min-width: $breakpoint-tablet){
        @include set_flex();
    }
}
