@import './variables';

@mixin set_flex( $display: flex, 
                 $align-items: normal, 
                 $justify-content: normal,
                 $flex-wrap: nowrap,
                 $flex-direction: row
                 ) 
{
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
};

@mixin set_hover_and_focus($color: $accent-color, $background-color: inherit){
    &:hover, &:focus{
        color: $color;
        background-color: $background-color;
    };

}

@mixin set_text_style( $font-size: inherit, 
                       $font-weight: 300, 
                       $line-height: inherit, 
                       $letter-spacing: inherit)
{
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}