$animation-time: 250ms;
$cubic-time-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-container-width: 1200px;

//

$primary-text-color: #757575;
$primary-bg-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;  

$primary-white-color: #ffffff;

$social-icon-color: #ffffff;
$background-icon-color: rgba(255, 255, 255, 0.1);



// Header
$hero-bg-gradient-color: rgba(47, 48, 58, 0.4);
$hero-title-color: #ffffff;
$hero-button-color: #ffffff;
$hero-button-shadow-color: rgba(0, 0, 0, 0.15);
$logo-header-color: #000000;
$header-border-bottom-color: #ECECEC;

//

// Footer
$footer-bg-color: #2f303a;
$footer-link-color:  rgba(255, 255, 255, 0.6);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
$footer-input-placeholder-color: rgba(255, 255, 255, 0.6);
$footer-button-shadow-color: rgba(0, 0, 0, 0.15);
$logo-footer-color: #ffffff;

//

// index.html

$advantages-icon-bg-color:  #F5F4FA;

$competence-description-bg-color: rgba(47, 48, 58, 0.8);
$competence-description-title: #ffffff;

$team-section-bg-color: #F5F4FA;
$team-card-bg-color: #ffffff;
$team-card-shadow-1: rgba(0, 0, 0, 0.12);
$team-card-shadow-2: rgba(0, 0, 0, 0.14);
$team-card-shadow-3: rgba(0, 0, 0, 0.2);
$team-border-svg-color: #AFB1B8;

$client-border-svg-color: #AFB1B8;



// Portfolio.html
$button-panel-bg-color: #F5F4FA;

$button-panel-shadow-1: rgba(0, 0, 0, 0.1);
$button-panel-shadow-2: rgba(0, 0, 0, 0.08);
$button-panel-shadow-3: rgba(0, 0, 0, 0.12);

$project-border-color: #EEEEEE;
$project-thumb-bg-color: rgba(33, 150, 243, 0.9);

$project-example-link-shadow-1: rgba(0, 0, 0, 0.12);
$project-example-link-shadow-2: rgba(0, 0, 0, 0.06);
$project-example-link-shadow-3: rgba(0, 0, 0, 0.16);


// 

// Modal window
$modal-backdrop-bg-color: #ffffff;

$modal-button-shadow-1: rgba(0, 0, 0, 0.12);
$modal-button-shadow-2: rgba(0, 0, 0, 0.14);
$modal-button-shadow-3: rgba(0, 0, 0, 0.2);

$button-close-border-color: rgba(0, 0, 0, 0.1); 

$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$input-border-color: rgba(33, 33, 33, 0.2);
$checkbox-border-color: #212121;


//

