$animation-time: 250ms;
$cubic-time-function: cubic-bezier(0.4, 0, 0.2, 1);
// $main-container-width: 1200px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px ;

//

$primary-text-color:  #757575;
$primary-bg-color:    #ffffff;
$second-bg-color:     #F5F4FA;
$title-text-color:    #212121;
$accent-color:        #2196f3;  

$primary-white-color: #ffffff;

$background-icon-color: rgba(255, 255, 255, 0.1);

$primary_font: Roboto, sans-serif;
$accent_font:  Raleway, sans-serif;


// Header
$hero-bg-gradient-color: rgba(47, 48, 58, 0.4);
$logo-header-color: #000000;
$header-border-bottom-color: #ECECEC;

//

// Footer
$footer-bg-color: #2f303a;
$footer-link-color:  rgba(255, 255, 255, 0.6);
$footer-input-border-color: rgba(255, 255, 255, 0.3);

//

// index.html

$competence-description-bg-color: rgba(47, 48, 58, 0.8);

$border-svg-color: #AFB1B8;

//

// Portfolio.html;

$project-border-color: #EEEEEE;
$project-thumb-bg-color: rgba(33, 150, 243, 0.9);

// 

// Modal window

$button-close-border-color: rgba(0, 0, 0, 0.1); 

$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$input-border-color: rgba(33, 33, 33, 0.2);
$checkbox-border-color: #212121;

//

